.header{
    position: absolute;
    width: 100%;
    height: 100px;
}
.header_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    height: 100px;
}
.header_logo{
    padding-left: 5em;
}

.nav_bar {
    display: flex;
    flex-direction: row;
    padding: 0;
    font-weight: 700;
    font-size: small;
    letter-spacing: 1px;
}

.nav{
    margin: 1em;
}

.homepage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/site-hero.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: cover;
    height: 850px;
}

.homepage_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 125px;
    padding-top: 125px;
    position: relative;
    top: 100px;
    width: 100%;
}
.homepage_title_small{
    height: 30px;
    width: 100px;
    text-align: center;
    font-weight: 600;
    background-color: rgb(123, 238, 199);
}
.block{
    margin-top: 8px;
}
.homepage_title_big{
    text-align: center;
    font-weight: 600;
    font-size: 3em;
    margin-bottom: 0.7em;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: rgb(96, 96, 110) 10px solid;
}
.heading_text{
    text-align: center;
}
.homepage_history{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 100px;
    width: 100%;
}
.homepage_history_text{
    width: 570px;
    margin-left: 100px;
    padding: 0 1em
}
.history_text{
    padding-top: 1.5em;
}
.heading{
    display: flex;
    align-items: center;
    height: 70px;
    margin: 0;
    font-size: 30px;
    position: relative;
    z-index: 1;
}
.homepage_history_heading::after{
    content: "";
    position: absolute;
    top: 35px;
    width: 70px;
    height: 23px;
    background-color: rgb(123, 238, 199);
}

.homepage_history_button{
    height: 50px;
    width: 160px;
    margin-top: 13px;
    float: right;
}

.services_title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 225px;
    margin-bottom: 85px;
}

.services_heading::after{
    content: "";
    position: absolute;
    top: 32px;
    width: 60px;
    height: 23px;
    background-color: rgb(123, 238, 199);
}
.services_list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.services_list_container{
    display: flex;
    flex-direction: column;

}
.services_list_row{
    display: flex;
    flex-direction: row;
}
.services_list_row2{
    display: flex;
    flex-direction: row;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    background-color: rgb(123, 238, 199);
}
.button a{
    color: white;
}
.button:hover{
    transition: 0.4s;
    box-shadow: 0 2px 15px rgba(0,0,0,0.22), 
                0 2px 15px rgba(0,0,0,0.22);
}

.list{
    padding: 1em 6em 1em 1em;
}
.list_title{
    font-size: 1.1em;
    font-weight: bold;
}
.checklist{
    line-height: 2em;
    opacity: .6;
}

.text{
    letter-spacing: 0.4px;
    line-height: 1.7em;
}

.image{
    padding-left: 1em;
    padding-right: 1em;
}

li {
    list-style-type: none;
   }

a { 
    text-decoration: none;
    color: rgb(96, 96, 110);
   }

body{
    font-family: "Montserrat", sans-serif;
    color: rgb(96, 96, 110);
    margin: 0;
}
ul{
    padding: 0;
}
.md{
    font-size: 2em;
    opacity: .8;
    padding-bottom: 0.2em;
}
